  @keyframes fish {
   0%{
      transform: translate(0, 0) rotateY(180deg);
   }
   50%{
     transform: translate(180px, 0px) rotateY(180deg);
  }
  51%{
     transform: translate(180px, 0) rotateY(0deg);
  }
  100%{
     transform: translate(0, 0) rotateY(0deg);
    
  }
}

.AquariumFish {
 position: absolute;

 
 animation-name: fish;
 animation-iteration-count: infinite;
 animation-duration:15s;
 animation-direction: reverse;
 animation-timing-function: linear;
 
}
