
  @keyframes potAnimation {
    10%{
        transform-origin: bottom;
    }
    50%{
        transform: translate(25px);
        transform-origin: bottom;
    }
    100%{
        transform-origin: bottom;
    }
}
.AquariumFish {
    position: absolute;
    background-size: cover;
    display: flex;

   padding-left: -60px;
    animation-name: potAnimation;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-timing-function: linear;
  }