.AquariumControl{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.AquariumControl .fish div{
    position: static;
    margin: 0 1rem;
    animation: none;
}
